<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
</head>
<body>
  <h1>Welcome to Hair-Salon Intranet<h2>
  <p><a href="/stylists">Click Here</a> to see all stylists and the ability to add stylists.</p>
</body>
</html>