<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
</head>
<body>
  <h2>Stylists</h2>
  {% if stylists is not empty %}
    <p>These are the stylists in the database!</p>
    <ul>
    {% for stylist in stylists %}
      <li>{{ stylist.getName }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3>Add a stylist!</h3>
    <form action="/stylists" method="post">
    <label for="name"></label>
    <input type="text" name="name">
    <button type="submit">Add!</button>
    </form>
    <form action="/stylists" method="delete">
    <button type="submit">Delete All!</button>
    </form>
</body>
</html>